apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app: ldap389ds
    tier: backend
  name: ldap389ds
  namespace: {{ namespace.ldap }}

spec:
  replicas: 1
  serviceName: ldap389ds
  volumeClaimTemplates:
    - metadata:
        name: ldap389ds-data
        namespace: {{ namespace.ldap }}
      spec:
        accessModes: [ 'ReadWriteOnce' ]
        resources:
          requests:
            storage: {{ ldap.volumeSize }}
  selector:
    matchLabels:
      app: ldap389ds
      tier: backend
  template:
    metadata:
      labels:
        app: ldap389ds
        tier: backend
    spec:
      serviceAccountName: ldap389ds
      terminationGracePeriodSeconds: 300
      containers:
        - name: app
          #image: gabibbo97/389ds:fedora-32
          image: 389ds/dirsrv:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: DS_DM_PASSWORD
              value: "{{ ldap.password }}"
          ports:
            - containerPort: 3{{ ldap.port }}
              name: ldap
              protocol: TCP
            - containerPort: 3{{ ldap.tlsPort }}
              name: ldaps
              protocol: TCP
          readinessProbe:
            exec:
              command: [ '/usr/libexec/dirsrv/dscontainer', '--healthcheck' ]
            initialDelaySeconds: 90
            failureThreshold: 3
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          livenessProbe:
            exec:
              command: [ '/usr/libexec/dirsrv/dscontainer', '--healthcheck' ]
            initialDelaySeconds: 90
            failureThreshold: 3
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          volumeMounts:
            - mountPath: /data
              name: ldap389ds-data
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 256Mi
      restartPolicy: Always
