# Hetzner Cloud project API token
hetzner_api_token: <CREATE_PROJECT_AND_API_TOKEN_IN_YOU_HCLOUD_ACCOUNT>

# Hetzner DNS Console API token
hetzner_dns_token: <CREATE_API_TOKEN_IN_YOU_DNS_CONSOLE_ACCOUNT>

# Public SSH keys to connect hosts
ssh_authorized_keys:
  - ssh-rsa XZY me@somewhere.com
  - ssh-rsa ZXY another_one@somewhere.com
